@import './roboto/roboto';
@import './material-icons/index';
@import './material-design-icons/materialdesignicons';
@import './fontawesome/fa-brands.scss';
@import './fontawesome/fa-regular.scss';
@import './fontawesome/fa-solid.scss';
@import './fontawesome/fontawesome.scss';
@import "~vue-modal-dialog/src/modal";
@import './mixins.scss';

.spinner-position {
  z-index:1900;
  @include centerer;
}

.overlay {
  z-index: 2 !important
}

.v-card-form {
    padding: 10px 20px;
  }

.v-datatable tbody td, .v-toolbar__content .v-toolbar__title {
  cursor: default;
}

.field-wrap>.input-group {
  padding-top: 0;
}

.card-top-action{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

a:hover{
  .v-card.hover-card{
  background-color: rgba(16, 175, 134, 0.42);
  }
}
